# Virtual Environments
.venv/
venv/
env/
emoenv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

*.pyc

# IDE
.vscode/
.idea/


# Streamlit cache
.streamlit/

# macOS
.DS_Store